---
import Partners from "./Partners";
---

<section class="section bg-[url('../../)] bg-no-repeat bg-cover">
  <div class="section-container">
    <div class="grid grid-cols-1 md:grid-cols-12">
      <div class="md:col-span-3">
        <p class="text-2xl">
          Salam, nous sommes Arlibera - une agence creative Marocaine
        </p>
      </div>
      <div class="md:col-span-1"></div>
      <div class="md:col-span-8">
        <h1 class="text-7xl
        uppercase
        leading-tight">
          Nous sommes des penseurs créatifs et stratégiques
        </h1>

        <p class="text-3xl leading-relaxed mt-24">
          Guidés par la passion de la creativité, nous accompagnons les marques
          dans l'exploration de nouveaux horizons pour créer des expériences de
          nouvelle génération. Notre fusion d'expertise en développement et en
          design nous permet de sculpter des solutions uniques et mémorables.
        </p>

        <p class="text-3xl leading-relaxed mt-12">
          Nous sommes en permanence à l'avant-garde des tendances, intégrant les
          dernières avancées pour concevoir des solutions performantes,
          évolutives et entièrement sur mesure. Cette approche nous permet de
          transcender les attentes, offrant à nos clients des outils et des
          expériences qui dépassent les normes et marquent les esprits.
        </p>

        <p class="text-3xl leading-relaxed mt-12">
          Chaque projet que nous entreprenons est une opportunité de repousser
          les limites, de défier la norme et de donner vie à des visions
          uniques.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="w-screen overflow-hidden">
  <Partners client:idle />
</div>
