---
import Partners from "./Partners";
---

<section class="section bg-[url('../../)] bg-no-repeat bg-cover">
  <div class="section-container">
    <div class="grid grid-cols-1 md:grid-cols-12">
      <div class="md:col-span-3">
        <p class="text-2xl">
          Salam, nous sommes Arlibera - une agence creative Marocaine
        </p>
      </div>
      <div class="md:col-span-1"></div>
      <div class="md:col-span-8">
        <h1 class="text-7xl
        uppercase
        leading-tight">
          Nous sommes des penseurs créatifs et stratégiques
        </h1>

        <p class="text-3xl leading-relaxed mt-24">
          Nous aidons les marques à explorer de nouveaux terrains de jeu à créer
          des expériences de nouvelle génération grâce à notre expertise en
          développement et en design.
        </p>

        <p class="text-3xl leading-relaxed mt-12">
          Notre engagement envers l'innovation technologique nous maintient à
          l'avant-garde des tendances, intégrant les dernières avancées pour des
          solutions performantes, évolutives et sur mesure.
        </p>

        <p class="text-3xl leading-relaxed mt-12">
          Nous excellons dans les secteurs tatata en solvant des problèmes grace
          a design et developpement web.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="">
  <Partners client:idle />
</div>
