---
import Partners from "./Partners";
---

<section class='section'>
  <div class='section-container'>
    <div class='grid grid-cols-3 gap-4'>
      <div class='bg-red-400'><p>sdfsdighsd iogusdifsdbifs</p></div>
      <div class='col-span-2 bg-red-400'>
        <h1>sdflsdjhfs</h1><p>sdfsdighsd iogusdifsdbifs</p>
      </div>
    </div>
  </div>
  <div class=''>
    <Partners client:idle />
  </div>
</section>
