---
import { Icon } from "astro-icon";
---

<section class='section-container'>
  <div class='bg-a-dark grid grid-cols-2 gap-4 justify-between p-32'>
    <div>
      <h2 class='text-a-light'>sdjkfbsdklmfs klmfnsl <br />kmfsd klfnsdkl</h2>
      <p class='text-white'>dhsdf khjsdvfshjkdfv hjksdfvshjdkfvsh jkdf s</p>
    </div>
    <div>
      <img class='object-cover h-96 w-72 ...' />
      <button
        class='bg-a-blue text-dark-a font-semibold hover:text-white py-2 px-4 border border-a-dark hover:border-transparent rounded-full flex space-x-5 items-center'
      >
        <p>Commencez votre Projet</p>

        <Icon name='mdi:add' class='h-6' />
      </button>
    </div>
  </div>
</section>
