---
import { Icon } from "astro-icon";
---

<section class="section-container">
  <div
    class="bg-a-dark grid grid-cols-1 md:grid-cols-12 gap-4 justify-between p-4 md:p-20 m-4 md:m-0"
    style="background-image: url(../../public/mask.png);
background-repeat: no-repeat;
background-position: right top"
  >
    <div class="col-span-7 mt-24">
      <h2
        class="text-a-light text-3xl md:text-5xl leading-relaxed uppercase mb-5 md:mb-10 font-medium"
      >
        Vous avez déjà<br class="md:block hidden" />un projet?
      </h2>

      <p class="text-white text-2xl leading-relaxed mt-12 font-normal mr-32">
        Nous serons chargés d’analyser votre site web, votre produit ou votre
        application au cours d'une session téléphonique de 30 minutes,
        <span class="font-bold">gratuitement</span> .
      </p>
    </div>
    <div class="mt-auto mb-10 col-span-4">
      <a
        href=""
        onclick="Calendly.initPopupWidget({url: 'https://calendly.com/arlibera/30min'});return false;"
      >
        <button
          class="bg-a-blue text-white font-semibold text-xl hover:text-white py-3 px-6 rounded-full flex space-x-5 items-center"
        >
          <p>Réserver une Consultation</p>

          <Icon name="system-uicons:arrow-top-right" class="h-8" />
        </button></a
      >
    </div>
  </div>
</section>
