---
import { Icon } from "astro-icon";
---

<section class='bg-white'>
  <section class='section'>
    <div class='section-container'>
      <div class='grid grid-cols-3 gap-4'>
        <div class='bg-red-400'>
          <h1>FAQ</h1>
        </div>
        <div class='col-span-2 bg-red-400'>
          <div class='flex space-x-14'>
            <img class='object-cover h-60 w-60 rounded-full' />

            <p>
              Voici Meryem, Manager chez Arlibera. Elle vous répondra à toutes
              vos questions.
            </p>
            <button
              class='bg-a-blue text-dark-a font-semibold hover:text-white py-2 px-4 border border-a-dark hover:border-transparent rounded-full flex space-x-5 items-center h-full'
            >
              <p>Envoyer un message</p>

              <Icon name='mdi:add' class='h-6' />
            </button>
          </div>

          <!-- FAQ -->
        </div>
      </div>
    </div>
  </section>
</section>
