---
import { Icon } from "astro-icon";
---

<section class='bg-white'>
  <section class='section'>
    <div class='section-container'>
      <div class='grid grid-cols-1 gap-x-4 md:grid-cols-12 md:gap-y-4 gap-y-4'>
        <div class='col-span-1 md:col-span-2'>
          <h1 class='text-3xl md:text-7xl text-a-dark uppercase leading-loose'>
            FAQ
          </h1>
        </div>
        <div class='col-span-1 md:col-span-1'></div>
        <div class='col-span-1 md:col-span-8 gap-y-10'>
     


    
        
          <div class='divide-y divide-slate-700'>
            {
              [
                "Branding & Identité Visuelle",
                "Web Design",
                "Landing Page Design",
                "UI/UX Design",
                "Mobile App Design",
              ].map((service, index) => (
                <div class='collapse collapse-plus rounded-none ' key={index}>
                  <input type='radio' name='my-accordion-3' />
                  <div class='collapse-title text-xl font-medium my-4'>
                    <p class='text-2xl font-medium'>{service}</p>
                  </div>
                  <div class='collapse-content '>
                    <p class='text-xl text-normal opacity-70 my-2'>{service}</p>
                  </div>
                </div>
              ))
            }
          </div>     <div class='flex space-x-6 items-center justify-between bg-a-pink p-6  mt-14'>
 


  <div class="flex items-center gap-8 ">
 
   
   <div class="relative">
    <img class="w-16 h-16 rounded-full" src="https://web-assets.zendesk.com/images/p-service/jointhebest-square-2.jpg" alt="">
    <span class="bottom-0 left-0 absolute  w-6 h-6 bg-green-400 border-4 border-white  rounded-full"></span>
</div>
   
   
    <div class="">
         <p class='text-lg font-semibold w-full'>
    Voici Meryem, Manager chez Arlibera. <br />Elle répondra à toutes vos questions.
  </p>
    </div>
</div>
    
          <button
        class='bg-a-blue text-white font-semibold text-lg hover:text-white py-2 px-6 rounded-full flex space-x-5 items-center'
      >
        <p>Envoyer un message</p>

        <Icon name='system-uicons:arrow-right' class='h-8' />
      </button>
</div>
        </div>
      </div>
    </div>
  </section>
</section>
