---
import { Icon } from "astro-icon";
---

<section class='section-container'>
  <div
    class='bg-a-dark grid grid-cols-1 md:grid-cols-2 gap-y-4 md:gap-x-4 justify-between p-4 md:p-16 m-4 md:m-0'
  >
    <div>
      <h2 class='text-a-light text-3xl md:text-5xl uppercase mb-5 md:mb-10'>
        Collaborons <br class='md:block hidden' />sur un projet
      </h2>

      <ul class='space-y-4'>
        <li class='flex space-x-6'>
          <Icon name='mdi:add' class='h-6 bg-yellow-200' /><p
            class='text-white'
          >
            Réponse dans les 24 heures.
          </p>
        </li>
        <li class='flex space-x-6'>
          <Icon name='mdi:add' class='h-6 bg-yellow-200' /><p
            class='text-white'
          >
            Flexibles selon vos besoins spécifiques.
          </p>
        </li>
        <li class='flex space-x-6'>
          <Icon name='mdi:add' class='h-6 bg-yellow-200' /><p
            class='text-white'
          >
            Accès à des experts du digital.
          </p>
        </li>
      </ul>
    </div>
    <div>
      <form class='max-w-md mx-auto'>
        <div class='relative z-0 w-full mb-5 group'>
          <input
            type='email'
            name='floating_email'
            id='floating_email'
            class='block py-2.5 px-0 w-full text-xl text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer'
            placeholder=' '
            required
          />
          <label
            for='floating_email'
            class='peer-focus:font-medium absolute text-xl text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6'
            >Nom Complet*</label
          >
        </div>

        <div class='relative z-0 w-full mb-5 group'>
          <input
            type='email'
            name='floating_email'
            id='floating_email'
            class='block py-2.5 px-0 w-full text-xl text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer'
            placeholder=' '
            required
          />
          <label
            for='floating_email'
            class='peer-focus:font-medium absolute text-xl text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6'
            >Email*</label
          >
        </div>

        <div class='relative z-0 w-full mb-5 group mt-14'>
          <textarea
            name='floating_email'
            id='floating_email'
            class='block py-2.5 px-0 w-full text-xl text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer'
            placeholder=' '
            required></textarea>
          <label
            for='floating_email'
            class='peer-focus:font-medium absolute text-xl text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6'
            >A propos de votre projet*</label
          >
        </div>

        <button
          type='submit'
          class='bg-a-blue text-dark-a font-semibold hover:text-white py-2 px-4 border border-a-dark hover:border-transparent rounded-full flex space-x-5 items-center'
        >
          <p>Commencez votre Projet</p>

          <Icon name='mdi:add' class='h-6' />
        </button>
      </form>
    </div>
  </div>

  <div class='flex justify-between py-12'>
    <p>© 2024 Arlibera™. Tous Droits Réservés.</p>

    <button class='flex space-x-3'>
      <Icon name='mdi:linkedin' class='h-6 text-a-dark' /><p
        class='text-a-dark'
      >
        LinkedIn
      </p>
    </button>
  </div>
</section>
