---
import { Icon } from "astro-icon";

const now = new Date();
const day = now.getDay(); // returns a number representing the day of the week, starting with 0 for Sunday
const hours = now.getHours();
const minutes = now.getMinutes();

import moment from "moment-timezone";
const timeMorocco = moment()
  .tz("Morocco/Casablanca")
  .utcOffset("+01:00")
  .format("h:mm A");
---

<style>
  @keyframes spina {
    100% {
      transform: rotate(360deg);
    }
  }

  .spin {
    animation: spina 10000ms linear infinite;
    animation-direction: reverse;
  }

  .parent .child {
    background: black; /* Set the initial background color */
    transition: background 0.2s; /* Apply transition to the background property */
  }

  .parent:hover .child {
    background: #6a57e3;
    transition: 0.2s;
  }
  .parent .arrow {
    transform: rotate(0deg);
    transition: transform 0.2s;
  }
  .parent:hover .arrow {
    transform: rotate(-45deg);
  }
</style>

<section
  class="h-screen bg-[url('../../public/bg-hero.png')] bg-no-repeat bg-cover"
>
  <div
    class="relative"
    style="  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding:100px"
  >
    <video
      width="100%"
      height="100%"
      autoplay="autoplay"
      loop="loop"
      muted="muted"
      playsinline="playsinline"
    >
      <source src="../../public/Hero.webm" type="video/webm" />
    </video>

    <div
      class="parent absolute h-40 w-40 cursor-pointer z-30"
      style="top: auto; bottom: 20%; right:28%; left:auto"
    >
      <img
        src="../../public/consultation-arlibera-2.svg"
        class="child h-40 z-10 rounded-full p-3.5 spin cursor-pointer"
        alt="Arlibera Consultation"
      />
      <Icon
        name="system-uicons:arrow-right"
        class="h-8 text-white absolute top-[40%] left-[38%] z-20 arrow"
      />
    </div>
  </div>

  <div class="hidden md:flex absolute bottom-0">
    <div
      class="justify-between mx-auto items-center flex w-screen md:px-20 pb-10"
    >
      <Icon name="ph:diamond-thin" class="h-6" />

      <p class="text-xl">
        <span class="font-bold" id="time-container">Agence Creative</span><br />

        <span class="flex items-center"
          >basée au<img src="../../public/ma.svg" class="h-5 mx-2" /> Maroc</span
        >
      </p>
      <p class="text-xl">
        <span class="font-bold">Branding & Développement</span><br />des sites
        et applications Web
      </p>
      <p class="text-xl">
        <span class="font-bold" id="time-container">{timeMorocco}</span><br />

        <span class="flex items-center"> Tétouan</span>
      </p>

      <Icon name="teenyicons:arrow-down-outline" class="h-10" />
    </div>
  </div>
</section>
