---
import { Icon } from "astro-icon";
---

<section class="h-screen">
  <div class="-pt-32">
    <video
      width="100%"
      height="100%"
      autoplay="autoplay"
      loop="loop"
      muted="muted"
      playsinline="playsinline"
    >
      <source src="../../public/Hero.webm" type="video/webm" />
    </video>
  </div>

  <div class="block md:hidden absolute bottom-0 px-4 pb-4">
    <p class="text-xl">qsdqdsqd<br />sdfsdfhjkgsdf</p>
  </div>

  <div class="hidden md:flex absolute bottom-0">
    <div
      class="justify-between mx-auto items-center flex w-screen md:px-20 pb-20"
    >
      <Icon name="ph:diamond-thin" class="h-10" />

      <p class="text-xl">
        <span class="font-bold">Agence Creative</span><br />basée au Maroc
      </p>
      <p class="text-xl">
        <span class="font-bold">Branding & Développement</span><br />des sites
        et applications Web
      </p>
      <p class="text-xl">
        <span class="font-bold">1:52 AM</span><br />Casablanca
      </p>

      <Icon name="teenyicons:arrow-down-outline" class="h-10" />
    </div>
  </div>
</section>
