---
import { Icon } from "astro-icon";
---

<section class='h-screen'>
  <h1 class='text-7xl'>sdfsfukysdvbfuisd fgsdhjikfbsdh fjb</h1>

  <div class='w-screen absolute bottom-0 px-40 pb-20'>
    <div class='flex justify-between mx-auto items-center'>
      <Icon name='ph:diamond-thin' class='h-10' />

      <p class='text-xl'>qsdqdsqd<br />sdfsdfhjkgsdf</p>
      <p>qsdqdsqd<br />sdfsdfhjkgsdf</p>
      <p>qsdqdsqd<br />sdfsdfhjkgsdf</p>

      <Icon name='teenyicons:arrow-down-outline' class='h-10' />
    </div>
  </div>
</section>
