<section class='bg-a-dark section'>
  <div
    class='block md:grid grid-cols-1 md:grid-cols-12 md:space-x-10 section-container'
  >
    <div class='md:col-span-8'>
      <h1 class='text-3xl md:text-7xl text-a-light uppercase leading-loose'>
        Propulsés par l'innovation
      </h1>
      <p class='text-white text-3xl leading-relaxed mt-24 font-normal'>
        Nous exprimons une profonde appréciation pour l'innovation qui aspire à
        dépasser les frontières de la pensée et à ouvrir de nouvelles
        perspectives.
      </p><br />
      <p class='text-white text-3xl leading-relaxed mt-12 font-normal'>
        Chaque vision, chaque détail, chaque pixel revêt une importance cruciale
        dans notre approche axée sur la perfection.
      </p>
    </div>
    <div class='md:col-span-1'></div>
    <div class='md:col-span-2'></div>
  </div>

  <!-- CAROUSEL -->

  <div
    class='block md:grid grid-cols-1 md:grid-cols-12 md:space-x-10 section-container'
  >
    <div class='md:col-span-8'>
      <p class='text-white text-3xl leading-relaxed mt-12 font-normal'>
        Bien que basés au Maroc, nous coopérons avec des talents du monde entier
        pour garantir des résultats haut de gamme et surpasser les attentes de
        nos clients.
      </p>
    </div>
    <div class='md:col-span-1'></div>
    <div class='md:col-span-2'></div>
  </div>

  <p class='section-container'></p>
</section>
