<section class='bg-a-dark'>
  <div class='flex space-x-10'>
    <div>
      <h1 class='text-7xl text-a-light uppercase'>
        Propulsés par l'innovation
      </h1>
      <p class='text-white'>
        dqsdk jqsbd jkqbdjkqsbd kjqbdqksjdbhjkbkshjdbf shjkdfbs
      </p><br />
      <p class='text-white'>
        sdfbj sdjkhfbsdjkhfbsdkfb sd kfbsdklfbsdklfjbsdjklfbs
      </p>
    </div>
    <div><img class='object-cover h-96 w-72 ...' /></div>
  </div>

  <!-- CAROUSEL -->

  <p class='text-white'>
    sdfbj sdjkhfbsdjkhfbsdkfb sd kfbsdklfbsdklfjbsdjklfbs
  </p>
</section>
