<div class="fixed w-full z-20 top-0 start-0">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-6 px-10"
  >
    <a href="/" class="flex items-center space-x-4 rtl:space-x-reverse">
      <img
        src="../../logo-arlibera-2.svg"
        class="text-black h-6"
        alt="Arlibera Logo"
      />
      <span
        class="self-center text-xl font-medium whitespace-nowrap tracking-loose"
        >Arlibera
      </span>
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <a aria-label="contact" href="#contact">
        <button
          type="button"
          class="text-lg text-a-dark border border-a-dark focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium px-4 py-2 text-center rounded-full"
          >Contact</button
        ></a
      >
      <button
        data-collapse-toggle="navbar-sticky"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
        aria-controls="navbar-sticky"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-sticky"
    >
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg md:space-x-10 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
      >
        <li>
          <a
            aria-label="agence"
            href="#agence"
            class="text-lg block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0"
            >Agence</a
          >
        </li>
        <li>
          <a
            aria-label="projets"
            href="#projets"
            class="text-lg block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0"
            >Projets</a
          >
        </li>
        <li>
          <a
            aria-label="services"
            href="#services"
            class="text-lg py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0"
            >Services</a
          >
        </li>
        <li>
          <a
            aria-label="clients"
            href="#clients"
            class="text-lg py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0"
            >Clients</a
          >
        </li>
        <li>
          <a
            aria-label="faq"
            href="#faq"
            class="text-lg py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0"
            >FAQ</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
