<section class='section'>
  <div class='section-container'>
    <div class='grid grid-cols-3 gap-4'>
      <div class='bg-red-400'><p>une panoplie de serrvices numériques</p></div>
      <div class='col-span-2 bg-red-400'>
        <h1>notre experrtizazdazd a</h1><p>sdfsdighsd iogusdifsdbifs</p>
      </div>
    </div>

    <div class='grid grid-cols-2 gap-10'>
      <div class='bg-gray-200'>
        <img class='object-cover h-96 w-72 ...' />
        <h2 class='uppercase text-2xl'>Design</h2>
        <ul>
          <li>qsdqsdsq</li>
          <li>qsdqsdsq</li>
          <li>qsdqsdsq</li>
          <li>qsdqsdsq</li>
          <li>qsdqsdsq</li>
        </ul>
      </div>
      <div class='bg-gray-200'>
        <img class='object-cover h-96 w-72 ...' />
        <h2 class='uppercase text-2xl'>Design</h2>
        <ul>
          <li>qsdqsdsq</li>
          <li>qsdqsdsq</li>
          <li>qsdqsdsq</li>
          <li>qsdqsdsq</li>
          <li>qsdqsdsq</li>
        </ul>
      </div>
    </div>
  </div>
</section>
