---
import { Icon } from "astro-icon";
---

<section class='bg-a-pink'>
  <section class='section'>
    <div class='section-container'>
      <div class='grid grid-cols-3 gap-4'>
        <div class='bg-red-400'>
          <p>approuvézeq par plusieurs partenaires</p>
          <div class='flex space-x-10'>
            <Icon name='teenyicons:arrow-left-outline' class='h-10' />
            <Icon name='teenyicons:arrow-right-outline' class='h-10' />
          </div>
        </div>
        <div class='col-span-2 bg-red-400'>
          <p class='pb-10'>
            nous sommes sincérement reconnaissantes pour la créativité
          </p>

          <p>Rachid lwaoul</p>
          <p>Ceo at epo</p>
        </div>
      </div>
    </div>
  </section>
</section>
